---
title: Restaurant Australia – <Article name></Article>
layout: layout-base.hbs
---
<div class="faw-article">

    {{> foodandwineheroarticle}}

    {{> imagewithdescription}}

    <hr class='divider-small'></hr>

    <h3 class='faw-article-quotes'>“Love Simone’s Restaurant.<br>Food and service is always amazing!”</h3>
    <p class="faw-article-copyright"><em>@foodie Jan 2014</em></p>

    <div class="head-divider">
        <div class="head-divider-inner">
            <hr class="icon-logo-withlines-hr icon-logo-withlines-hr-small">
            <h5>About</h5>
            <hr class="icon-logo-withlines-hr icon-logo-withlines-hr-small">
        </div>
    </div>

    <p>Simone’s had been run by George and Patrizia Simone since 1986, in which time it has moved from its first location on the outskirts of Bright, to a beautiful Victorian cottage in the heart of the township.
    Simone's Restaurant has made the shortlist for this year's The Age Good Food Guide and have regained their hatted status with one chef's hat!</p>

    <div class="head-divider">
        <div class="head-divider-inner">
            <hr class="icon-logo-withlines-hr icon-logo-withlines-hr-small">
            <h5>Chef Profile</h5>
            <hr class="icon-logo-withlines-hr icon-logo-withlines-hr-small">
        </div>
    </div>

    {{> avatar}}

    <p>hony grew up in restaurants, washing dishes and waiting tables in his parent’s acclaimed Simone’s in north-east Victoria.
    After working at restaurants in Melbourne, Italy and the USA, he returned to the High Country and is now head chef at Simone’s, attributing his cooking style to his mum and his two nonnas.</p>

    {{> foodandwinevideoteaserwithbackground}}

    <div class="head-divider">
        <div class="head-divider-inner">
            <hr class="icon-logo-withlines-hr icon-logo-withlines-hr-small">
            <h5>Accolades</h5>
            <hr class="icon-logo-withlines-hr icon-logo-withlines-hr-small">
        </div>
    </div>

    {{> historylist}}

    {{> custommap}}

    {{> experiences}}

</div>