---
title: Restaurant Australia – Thank you for your submission 
layout: layout-base.hbs
---

<div class="form-thank-you">

	{{> foodandwineherothankyou}}

	<div class="row l-page-width-600 l-center">
		<p class="form-thank-you type-spacing-60">
			Tourism Australia will review your listing and may contact you with any questions or suggestions on how to enhance it.
		</p>

		<div class="form-biline-container type-spacing-30">
			<hr>
			<div class="form-elements-biline">
				a great profile
			</div>
		</div>
		<p class="type-spacing-30">
			<strong>Here are some tips on maintaining a great profile:</strong>
		</p>
		<p class="type-spacing-50">
			Ensure your website contact details are up to date and:
		</p>

		<div class="form-number-container type-spacing-30">
			<hr>
			<div class="form-number-square-box">
				<div class="form-number">
					<span class="form-number-text">1</span>
				</div>
			</div>
		</div>

		<p class="type-spacing-30">
			<a href="#" class="icon-google-color"><img src="imgs/base/google-icon.jpg" alt=""/></a>
		</p>

		<p class="type-spacing-50">
			Add or update your details to <a href="http://www.google.com.au/business/placesforbusiness/" target="_blank"><strong>Google Places</strong></a>
		</p>

		<div class="form-number-container type-spacing-30">
			<hr>
			<div class="form-number-square-box">
				<div class="form-number">
                    <span class="form-number-text">2</span>
				</div>
			</div>
		</div>

		<ul class="form-social-list type-spacing-40">
			<li>
				<a href="http://www.facebook.com"><img src="imgs/base/share/share-fb-blue.png" alt=""/></a>
			</li>
			<li>
				<a href="http://twitter.com"><img src="imgs/base/share/share-twitter-blue.png" alt=""/></a>
			</li>
			<li>
				<a href="http://instagram.com "><img src="imgs/base/share/share-instagram-blue.png" alt=""/></a>
			</li>
		</ul>

		<p class="type-spacing-30">
			Post frequent updates to your social profiles -
			<br>
			<strong><a href="http://www.facebook.com">Facebook</a>, <a href="http://twitter.com">Twitter</a>, <a href="http://instagram.com">Instagram</a></strong>
		</p>

		<div class="form-number-container type-spacing-30">
			<hr>
			<div class="form-number-square-box">
				<div class="form-number">
                    <span class="form-number-text">3</span>
				</div>
			</div>
		</div>

		<p class="type-spacing-20">
			<a href="#" class="icon-atdw-color"><img src="imgs/base/atdw.jpg" alt=""/></a>
		</p>

		<p class=" l-page-width-400 type-spacing-60">
			Add or update your details with the Australia Tourism Data Warehouse
		</p>

		<ul class="form-thank-you-states">
			<li>
				<strong><a href="mailto:atdw@act.gov.au">Australian Capital Territory</a></strong>
			</li>
			<li>
				<strong><a href="mailto:getconnected@dnsw.com.au ">New South Wales</a></strong>
			</li>
			<li>
				<strong><a href="mailto:atdw.tourismnt@nt.gov.au">Northern Territory</a></strong>
			</li>
			<li>
				<strong><a href="mailto:atdw@tq.com.au">Queensland</a></strong>
			</li>
			<li>
				<strong><a href="mailto:OnlineSATC@tourism.sa.com">South Australia</a></strong>
			</li>
			<li>
				<strong><a href="mailto:TigerTOUR@discovertasmania.com">Tasmania</a></strong>
			</li>
			<li>
				<strong><a href="mailto:onlinecomments@tourism.vic.gov.au">Victoria</a></strong>
			</li>
			<li>
				<strong><a href="mailto:atdw@westernaustralia.com">Western Australia</a></strong>
			</li>
		</ul>

		<div class="form-biline-container type-spacing-30">
			<hr>
			<div class="form-elements-biline">
				Contact us
			</div>
		</div>

		<p class="type-spacing-30">
			If you have any questions or concerns, have new information or content to add to your listing or need to make a change to an existing listing, you can contact Tourism Australia via the following methods:
		</p>

		<!--
		<p class="type-spacing-30">
			<span class="form-thank-you-contact-icon-size icon-font-phone"></span>
			<br>
			<strong>Phone</strong>
			<br>
			+61 2 9360 1111
		</p>
		-->

		<p class="type-spacing-30">
			<span class="form-contact-icon"><img src="imgs/base/mail-icon.png" alt=""/></span>
			<br>
			<strong>Email</strong>
			<br>restaurantaustralia@tourism.australia.com
		</p>

		<p class="type-spacing-30">
			<span class="form-contact-icon"><img src="imgs/base/share-icon.png" alt=""/></span>
			<br>
			<strong>Tag your posts</strong>
			<br>#restaurantaustralia or @SeeAustralia
		</p>

		<p class="type-spacing-120">
			<em class="form-thank-you-small-print">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</em>
		</p>

	</div>

</div>

