---
title: Blockquote
---

PULL QUOTE<br>
<div class="blockquote-quote-pull">
    <p>At vero eos et accusamus et iusto dolor odio dignissimos ducimus  praesentium upta deleniti</p>
</div>

<hr>

SOCIAL QUOTE<br>
<div class="blockquote-quote-social">
    <p>At vero eos et accusamus et iusto dolor odio dignissimos et iusto dolor odio dignissimos.</p>
    <cite>Janice travelled here in Jan 2014</cite>
</div>