---
title: Call To Action
---

<div class='calltoaction calltoactionvideo'>
    <div class="calltoaction-title-container is-mobile">
        <div class="calltoaction-type-sml1">What is Restuarant Australia</div>
    </div>
    <div class="calltoaction-title-container is-desktop">
        <div class="calltoaction-type-sml1">What is</div>
        <div class="calltoaction-type-lrg">Restaurant Australia?</div>
    </div>
    <div class="head-divider-inner">
	    <hr class="icon-logo-withlines-hr icon-logo-withlines-hr-small"></hr>
        <a href="#" class="faw-video-teaser-icon btn-round-video icon-font-video-play" data-video-button="home-video"></a>
	    <hr class="icon-logo-withlines-hr icon-logo-withlines-hr-small"></hr>
    </div>
</div>