---
title: Caption
---
<p class="caption">
    <span class="caption-header">Caption headline</span>
    <span class="caption-body">Caption body there's nothing like finding your own waterfall in the Rainforest.</span>
</p>