---
title: Checkbox
---
<form action="#">
	<fieldset class="options">
		<input id="checkbox" class="checkbox" type="checkbox" />
		<label for="checkbox" name="demo_lbl_1" class="checkbox-label">Option</label>
		<!-- Checkbox powered by CssCheckbox.com -->
	</fieldset>
</form>