---
title: experience  modeule
---
<div class="l-center">
<div class="experiences">
	<div class="head-divider experiences-head-divider">



        <div class="head-divider">
            <div class="head-divider-inner">
                <hr class="icon-logo-withlines-hr icon-logo-withlines-hr-small experiences-head-divider-hr">
                <div class="head-divider-title">
                    <img class="experiences-head-divider-image" src="imgs/base/header-map-icon.png">
                </div>
                <hr class="icon-logo-withlines-hr icon-logo-withlines-hr-small experiences-head-divider-hr">
            </div>
        </div>





	</div>
	
	<h5 class='experiences-headline'>Other Experiences in</h5>
	<h2>Victoria</h2>
	<hr class="divider-small">
	
	
	{{> foodandwineexperiencecarousel}}
</div>
</div>