---
title: Fonts
---

<p>Base font: "ProximaNova Regular", "Helvetica", "Arial", sans-serif;</p>
<p><em>Base font italic: "ProximaNova Italic", "Helvetica", "Arial", sans-serif;</em></p>
<p><strong>Base font bold: "ProximaNova Bold", "Helvetica", "Arial", sans-serif;</strong></p>
<p><strong><em>Base font bold: "ProximaNova Bold Italic", "Helvetica", "Arial", sans-serif;</em></strong></p>
<hr>
<p class="type-font-primary">Heading font: "ProximaNova Regular", "Helvetica", "Arial", sans-serif;</p>
<p class="type-font-primary-i">Primary font italic: "ProximaNova Italic", "Helvetica", "Arial", sans-serif;</p>
<p class="type-font-primary-b">Primary font bold: "ProximaNova Bold", "Helvetica", "Arial", sans-serif;</p>
<p class="type-font-primary-bi">Primary font bold italic: "ProximaNova Bold Italic", "Helvetica", "Arial", sans-serif;</p>
<p class="type-font-primary-sb">Base font semi-bold: "ProximaNova Semi Bold", "Helvetica", "Arial", sans-serif;</p>
<hr>
<p class="type-font-secondary">Secondary font: "TAheadline", "Helvetica", "Arial", sans-serif;</p>
<hr>
<p class="type-font-feature">Feature font: "Geared Slab Thin", "Helvetica", "Arial", sans-serif;</p>