---
title: Footer Restaurant Australia Elements
---

<div class="footer-restaurant-australia-elements">
    <!-- <a href="#" class="btn-restaurant-australia-logo icon-font-logo"></a> -->
    <img class="type-spacing-30" src="imgs/logo/logo-restaurant-australia-clear.png">
    <a class="footer-restaurant-australia-elements-link type-spacing-15">RESTAURANTAUSTRALIA.COM</a>

    <div class="footer-restaurant-australia-elements-biline-container type-spacing-60">
        <div class="footer-restaurant-australia-elements-biline">proudly brought to you by tourism australia</div>
        <hr>
    </div>
</div>