---
title: Hint width icon
---
<div class="hint-icon-wrapper">
	<div class="hint-icon">
		<hr>
		<h5 class="hint-icon-label hint-icon-label-left">See tips on how you can</h5>
		<a href="#" class="btn-white-black hint-icon-icon icon-font-listing is-active" data-video-button="home-video"></a>
		<h5 class="hint-icon-label hint-icon-label-right">make the best listings</h5>
		<div class="cleardiv"></div>
		<hr>
	</div>
</div>

<!-- video container -->
{{> video }}