---
title: Hint List
---
<div class="l-center">
<ul class="historylist">
	<li>
		<p><strong>1998</strong> Good Food and Wine Guide</p>
		<hr></hr>
	</li>
	<li>
		<p><strong>1999</strong> The Age best country restaurant</p>
		<hr></hr>
	</li>
	<li>
		<p><strong>2001</strong> Two Chef's Hats</p>
		<hr/>
	</li>
</ul>
</div>