---
title: Logo
---

<p>
    <a href="#"><img src="http://placehold.it/200x50" alt="Logo Alt Text" /></a>
</p>

<p>
    <a href="#" class="btn-restaurant-australia-logo icon-font-logo"></a>
</p>

<p>
    <a href="#" class="btn-restaurant-australia-logo-box"><span class="icon-font-logo"></span></a>
</p>

<p>
    {{> icon_logo_withlines}}
</p>
