---
title: Social Counter
---
<div class="socialcounter">
    <div class="socialcounter-inner">
        <div class="socialcounter-bg"></div>
        <div class="socialcounter-content">
            <p class='socialcounter-count type-font-feature'>10,337</p>
            <p class='socialcounter-tagged'>tagged</p>
            <p class='socialcounter-link'><strong>#restaurants</strong></p>
        </div>
    </div>
</div>

<!--This class will automatically push down the next element to it, so that half of diamond will come over it.-->
<div class="socialcounter-bottom-space"></div>