---
title: Sponsors Image
---


<div class="sponsors-wrapper">
    <div class="row sponsors-item type-spacing-30">



        <div class="sponsors-row-1 type-spacing-15">
            <div class="sponsors-type-title type-spacing-15">proud sponsor of<br>restaurant australia</div>
            <hr class="sponsors-hr">
        </div>

        <div  class="row sponsors-row-2">
            <div class="sponsors-image-link-container">
                <!-- <img src="http://placehold.it/380x214" class="sponsors-image" alt=""> -->
                <!-- <img src="http://placehold.it/226x140" class="sponsors-image" alt=""> -->
                <a href="" title=""> <img src="imgs/logo/logo_virgin_australia.png" class="sponsors-image" alt=""></a>
                <p class="sponsors-description">Flights from L.A. to Sydney starting from $1,299*</p>
            </div>
        </div>

        <div  class="row sponsors-row-3">
            <a href="" title="" class="sponsors-link">Search deals</a>
        </div>

    </div>
</div>



