---
title: Sponsors Video
---

<div class="sponsors-wrapper">
	<div class="row sponsors-item type-spacing-30">
	
	    <div class="sponsors-row-1 type-spacing-15">
	        <div class="sponsors-type-title type-spacing-15">restaurant australia<br>media</div>
	        <hr class="sponsors-hr">
	    </div>

	    <div  class="row sponsors-row-2">
	        <div class="sponsors-image-link-container">
	            <div class="video-link-container">
	                <!--<div class="video-play-icon">
	                    <a href="#" class="btn-round-share icon-font-mail-outline"></a>
	                </div>-->
	                <a href="#" target="_self" title=""><img src="imgs/placeholders/sponsors-video-placeholder.png" class="sponsors-image  type-spacing-15" alt=""></a>
	            </div>
	        </div>
	    </div>
	

	     <div  class="row sponsors-row-3">
	        <a href="#" target="_self" title="" class="sponsors-link">Watch video</a>
	    </div>


	</div>
</div>