---
title: Carousel
---
<!-- data-tags
* data-slidetime="400"
*
* data-options description in jquery.ta.carousel.js - file
-->
<ul class="carousel-wrapper">
	<li class="item">
		{{>landscape_4x3}}
	</li>
	<li class="item">
		{{>landscape_4x3}}
	</li>
	<li class="item">
		{{>landscape_4x3}}
	</li>
	<li class="item">
		{{>landscape_4x3}}
	</li>
	<li class="item">
		{{>landscape_4x3}}
	</li>
	<li class="item">
		{{>landscape_4x3}}
	</li>
	<li class="item">
		{{>landscape_4x3}}
	</li>
</ul>