---
title: Custom Map Static
---
<div class="l-center">
	<div class="custommap" data-mapstylejson="json/custommap/map-style.json" data-markerlat="-37" data-markerlong="145" data-markerimage="http://extranet.ogilvy.com.au/TA/Styleguide/imgs/custommap/marker.png" data-centerlat="-26" data-centerlong="135"></div>
	
	<div class='custommap-description'>
		<p class="custommap-description-head"><strong>Phone</strong></p>
		<p>+61 02 9440 1634</p>
		
		<p class="custommap-description-head"><strong>Address</strong></p>
		<p>90 Gavan Street</p>
		<p>Bright, VICTORIA 3741</p>
		<br>
		<a href="" target=""><strong>www.simonesofbright.com.au</strong></a>
	</div>
</div>