---
title: Food and Wine Carousel Item
---
<div class="faw-carousel-bg-container" data-picture="" data-alt="" >
    <div data-src="imgs/base/faw-carousel-bg.jpg" data-media="(min-width: 1px)"></div>
    <div data-src="imgs/base/faw-carousel-bg.jpg" data-media="(min-width: 481px)"></div>
    <div data-src="imgs/base/faw-carousel-bg.jpg" data-media="(min-width: 769px)"></div>
    <div data-src="imgs/base/faw-carousel-bg.jpg" data-media="(min-width: 993px)"></div>

    <noscript>
        <img class="faw-carousel-bg" src="imgs/base/faw-carousel-bg.jpg" alt="">
    </noscript>
</div>
<!--[if (lt IE 9) & (!IEMobile)]>
<img class="faw-carousel-bg" src="imgs/base/faw-carousel-bg.jpg" alt="">
<![endif]-->

<div class="calltoaction calltoactionbubble calltoactionbubble-white">
    <div class="head-divider">
        <div class="head-divider-inner">
            <hr class="icon-logo-withlines-hr icon-logo-withlines-hr-small experiences-head-divider-hr">
            <div class="head-divider-title">
                <span class="icon-map icon-map-small icon-map-black icon-map-south"></span>
            </div>
            <hr class="icon-logo-withlines-hr icon-logo-withlines-hr-small experiences-head-divider-hr">
        </div>
    </div>
    <div class="calltoactionbubble-copy">
        <h5 class="cta-title">Featured VINEYARD</h5>
        <h2 class="cta-main-title">Yalumba</h2>
        <h5 class="cta-sub-title">South Australia</h5>
        <hr class="divider-small">
        <p class="cta-description">Established in 1849, Yalumba is Australia’s oldest family owned winery. After more than 160 years.
            <a href="#">Find out more</a></p>
    </div>
</div>
