---
title: Food and Wine Category Mosaic
---

<!-- DESKTOP VIEW -->
<!-- FOOD MOSAIC CATEGORIES -->
<div class="faw-category-mosaci-items l-display-none-md">

    <!-- FOOD MOSAIC CATEGORY ITEM -->
    <input id="category-wine" type="checkbox" class="category-input">
    <label for="category-wine">
        <div class="category-item">
            <span class="icon-round is-active">
                <img class='category-image-light' src="imgs/base/categories/category-icon-wine-white.png" alt=""/>
                <img class='category-image-dark' src="imgs/base/categories/category-icon-wine-dark.png" alt=""/>
            </span>

            <span class="category-title">
                    Wine
            </span>
        </div>
    </label>
    <!-- END: FOOD MOSAIC CATEGORY ITEM -->

    <!-- FOOD MOSAIC CATEGORY ITEM -->
    <input id="category-people" type="checkbox" class="category-input">
    <label for="category-people">
        <div class="category-item">
            <span class="icon-round is-active">
                <img class='category-image-light' src="imgs/base/categories/category-icon-people-white.png" alt=""/>
                <img class='category-image-dark' src="imgs/base/categories/category-icon-people-dark.png" alt=""/>
            </span>

            <span class="category-title">
                    People
            </span>
        </div>
    </label>
    <!-- END: FOOD MOSAIC CATEGORY ITEM -->

    <!-- FOOD MOSAIC CATEGORY ITEM -->
    <input id="category-seafood" type="checkbox" class="category-input">
    <label for="category-seafood">
        <div class="category-item">
            <span class="icon-round is-active">
                <img class='category-image-light' src="imgs/base/categories/category-icon-seafood-white.png" alt=""/>
                <img class='category-image-dark' src="imgs/base/categories/category-icon-seafood-dark.png" alt=""/>
            </span>

            <span class="category-title">
                     Seafood
            </span>
        </div>
    </label>
    <!-- END: FOOD MOSAIC CATEGORY ITEM -->

    <!-- FOOD MOSAIC CATEGORY ITEM -->
    <input id="category-produce" type="checkbox" class="category-input">
    <label for="category-produce">
        <div class="category-item">
            <span class="icon-round is-active">
                <img class='category-image-light' src="imgs/base/categories/category-icon-produce-white.png" alt=""/>
                <img class='category-image-dark' src="imgs/base/categories/category-icon-produce-dark.png" alt=""/>
            </span>

            <span class="category-title">
                    Produce
            </span>
        </div>
    </label>
    <!-- END: FOOD MOSAIC CATEGORY ITEM -->

    <!-- FOOD MOSAIC CATEGORY ITEM -->
    <input id="category-restaurants" type="checkbox" class="category-input">
    <label for="category-restaurants">
    <div class="category-item">
            <span class="icon-round is-active">
                <img class='category-image-light' src="imgs/base/categories/category-icon-restaurants-white.png" alt=""/>
                <img class='category-image-dark' src="imgs/base/categories/category-icon-restaurants-dark.png" alt=""/>
            </span>

            <span class="category-title">
                    Restaurants
            </span>
        </div>
    </label>
    <!-- END: FOOD MOSAIC CATEGORY ITEM -->

    <!-- FOOD MOSAIC CATEGORY ITEM -->
    <input id="category-experiences" type="checkbox" class="category-input">
    <label for="category-experiences">
        <div class="category-item">
            <span class="icon-round is-active">
                <img class='category-image-light' src="imgs/base/categories/category-icon-experiences-white.png" alt=""/>
                <img class='category-image-dark' src="imgs/base/categories/category-icon-experiences-dark.png" alt=""/>
            </span>
            <span class="category-title">
                    Experiences
            </span>
        </div>
    </label>
    <!-- END: FOOD MOSAIC CATEGORY ITEM -->

    <!-- FOOD MOSAIC CATEGORY ITEM -->
    <input id="category-events" type="checkbox" class="category-input">
    <label for="category-events">
    <div class="category-item">
            <span class="icon-round is-active">
                <img class='category-image-light' src="imgs/base/categories/category-icon-events-white.png" alt=""/>
                <img class='category-image-dark' src="imgs/base/categories/category-icon-events-dark.png" alt=""/>
            </span>

            <span class="category-title">
                     Festivals
            </span>
       </div>
    </label>
    <!-- END: FOOD MOSAIC CATEGORY ITEM -->

</div>
<!-- END: FOOD MOSAIC CATEGORIES -->
<!-- END DESKTOP VIEW -->


<!-- MOBILE VIEW -->
<!-- FOOD MOSAIC CATEGORIES DROP DOWN -->
<div class="l-display-md">
    <select class="input-select input-select-small input-select-bottom-border">
        <option value="" selected="selected" disabled>SELECT CATEGORY</option>

        <option value="wine">Wine</option>
        <option value="people">People</option>
        <option value="seafood">Seafood</option>
        <option value="produce">Produce</option>
        <option value="restaurants">Restaurants</option>
        <option value="experiences">Experiences</option>
        <option value="events">Festivals</option>

    </select>
</div>
<!-- END: FOOD MOSAIC CATEGORIES DROP DOWN -->
<!-- END MOBILE VIEW -->