---
title: Image Width description
---
<div class='imagewithdescription'>
	<a href="" target="">
		<div class="imagewithdescription-inner">
			<div class="responsive-image" data-picture="" data-alt="" >
				<div data-src="http://placehold.it/683x385" data-media="(min-width: 1px)"></div>
				<div data-src="http://placehold.it/683x385" data-media="(min-width: 481px)"></div>
				<div data-src="http://placehold.it/683x385" data-media="(min-width: 769px)"></div>
				<div data-src="http://placehold.it/683x385" data-media="(min-width: 993px)"></div>
	
				<noscript>
					<img src='http://placehold.it/683x385' alt=''>
				</noscript>
			</div>
			<!--[if (lt IE 9) & (!IEMobile)]>
			<img src='http://placehold.it/683x385' alt=''>
			<![endif]-->
	
			<div class="imagewithdescription-description">
				<p class="imagewithdescription-description-head">
					<strong><em>In the kitchen</em></strong>
				</p>
				<p class="imagewithdescription-description-copy">
					<em>Chef Anthony preparing the Rum and Chestnut soup</em>
				</p>
			</div>
		</div>
	</a>
</div>