---
title: Image Uploader
note: note-imageuploader
---
<div class="image-uploader">
    <div class="image-uploader-item">
        <label class="image-uploader-label" for="imageupload">Upload Image</label>
        <div class="image-uploader-container btn-secondary btn-small">
            <input type="file" name="imageupload" class="image-uploader-control">
        </div>
        <span class="image-uploader-remove"><a class="image-uploader-remove-button" href="#">remove</a></span>
        <span class="image-uploader-filename">No File</span>

        <div class="description-box">
            <h4 class="description-box-headline"><strong>Image caption</strong></h4>
            <p class="description-box-copy">
                <em>Write a short description about your photo</em>
            </p>
            <textarea class="description-box-input-field" rows="4" placeholder="..."></textarea>
        </div>
    </div>

    <div class="image-uploader-add-more">
        <a class="image-uploader-add-more-button" href="#">Upload More</a>
    </div>
</div>

