---
title: Mosaic Item Info
---


<a href="#" class="mosaic-item"  title="">
    <img class='mosaic-item-image' src="http://placehold.it/580x580" alt="" width="100%"/>

    <!-- Parent view -->
    <span class="mosaic-item-description">
        <span class="mosaic-item-description-head type-font-feature">
            The burger shed
        </span>
        <span class="mosaic-item-description-sub">
            New South Wales
        </span>
        <span class="mosaic-item-description-copy">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            <br><br>
            <span class="mosaic-item-description-copy-link"><strong>Read more</strong></span>
            <strong class="mosaic-item-description-categories"><em>Restaurant, Places, People</em></strong>
        </span>
    </span>
    <!-- End Parent view -->



    <!-- Overlay view -->
    <span class="mosaic-item-overlay mosaic-item-overlay-info">
         <span class="mosaic-item-overlay-info-icon">

             <span class="mosaic-item-overlay-info-head type-font-feature">The burger<br/>shed</span>
              <span class="mosaic-item-overlay-info-icon-item">
                 <img src="imgs/base/categories/category-icon-wine-white.png" alt="">
             </span>
             <span class="mosaic-item-overlay-info-desciption">
                 Woolloomooloo, New South Wales
                 <br>
                 <br>
                  <span class="mosaic-item-description-copy-link"><strong>Find out more</strong></span>
             </span>
         </span>
          <span class="mosaic-item-overlay-info-categories">
                 <strong>Restaurants, People, Experience...</strong>
          </span>
    </span>
    <!-- End Overlay view -->


</a>


