---
title: Mosaic Item
---
<div class='mosaic-item mosaic-item-register'>
	<div class='mosaic-item mosaic-item-register-inner'>
		<img src="imgs/base/placeholder-white.jpg" alt="" width="100%"/>
		
		<div class="mosaic-item-register-content">
			<div class="calltoaction-type-sml1">Make sure</div>
	        <div class="calltoaction-type-lrg">your business</div>
	        <div class="calltoaction-type-sml1">is on our venues list</div>
	        <p>
		        <a href="#" class="btn-primary btn-small">Regsiter now</a>
		    </p>
		    <p class="faw-register-teaser-subline">100% free to register</p>
	 	</div>   
	</div>
</div>

