---
title: Food and Wine Hero Home
note: note-foodandwineherocontributerslist
---

<div class='form-hero'>
	<div class="faw-hero-home-container">
        {{> icon_logo_withlines }}
		<h1 class="form-h1">Search Results</h1>
        <div class="form-biline-container type-spacing-60">
            <hr>
            <div class="form-elements-biline">What are you looking for?</div>
        </div>
        <h3 class="form-h3 l-padding-top-xs-2 l-padding-bottom-xs-0-5">24 Search results for: <strong>High Country</strong></h3>
        <input class='input-field-blank input-field-big input-field-normal-left-border' placeholder="E.g. Cafe Sydney"/>
        <a href="#" class="btn-secondary btn-auto-size">Search</a>
    </div>
</div>
