---
title: Food and Wine Video Teaser With Backgorund
---
<div class="faw-video-teaser-wrapper faw-video-teaser-with-bg-wrapper fullwidth-bg">

		<div class="responsive-image l-position-absolute" data-picture="" data-alt="">
			<div data-src="imgs/base/faw-video-strip.jpg" data-media="(min-width: 1px)"></div>
			<div data-src="imgs/base/faw-video-strip.jpg" data-media="(min-width: 481px)"></div>
			<div data-src="imgs/base/faw-video-strip.jpg" data-media="(min-width: 769px)"></div>
			<div data-src="imgs/base/faw-video-strip.jpg" data-media="(min-width: 993px)"></div>
			
			<noscript>
				<img src='imgs/base/faw-video-strip.jpg' alt=''>
			</noscript>
		</div>
		<!--[if (lt IE 9) & (!IEMobile)]>
            <img src='imgs/base/faw-video-strip.jpg' alt=''>
        <![endif]-->
	
	
	<div class="faw-video-teaser faw-video-teaser-with-bg">
		<h5 class="faw-video-teaser-label is-mobile">Discover more about Simone's of bright</h5>
		<h5 class="faw-video-teaser-label is-desktop">Discover more about</h5>
		<a href="#" class="faw-video-teaser-icon btn-round-video icon-font-video-play" data-video-button="home-video"></a>
		<h5 class="faw-video-teaser-label is-desktop">Simone's of bright</h5>
	</div>
</div>

<!-- video container -->
{{> video }}