---
title: Food and Wine Carousel
---
<div class="faw-experience">
	<div class='faw-experience-outer'>
		<div class='faw-experience-wrapper'>
			<ul class="carousel-wrapper faw-experience-carousel" data-mobilemaxresolution="1200" data-startindex="0" data-disablecarouselondesktop="true" data-showsingleitem='true'>
				<li class="item">
					{{>mosaicitemshare}}
				</li>
				<li class="item">
					{{>mosaiciteminfo}}
				</li>
				<li class="item">
					{{>mosaicitemshare}}
				</li>
				<li class="item">
					{{>mosaiciteminfo}}
				</li>
			</ul>
		</div>
	</div>
</div>