---
title: Food and Explore teaser
---
<div class='faw-explore-teaser faw-bg-full-container'>
	
	<div class="l-position-absolute fullwidth-bg" data-image-vertical-alignment="bottom" data--250-top="-webkit-transform: translate(0,10%);" data-250-bottom="-webkit-transform: translate(0,-10%);">
		<div class="responsive-image" data-picture="" data-alt="" >
			<div data-src="imgs/pages/explore/explore-teaser-bg.jpg" data-media="(min-width: 1px)"></div>
			<div data-src="imgs/pages/explore/explore-teaser-bg.jpg" data-media="(min-width: 481px)"></div>
			<div data-src="imgs/pages/explore/explore-teaser-bg.jpg" data-media="(min-width: 769px)"></div>
			<div data-src="imgs/pages/explore/explore-teaser-bg.jpg" data-media="(min-width: 993px)"></div>
			
			<noscript>
				<img src='imgs/pages/explore/explore-teaser-bg.jpg' alt=''>
			</noscript>
		</div>
		<!--[if (lt IE 9) & (!IEMobile)]>
            <img src='imgs/pages/explore/explore-teaser-bg.jpg' alt=''>
        <![endif]-->
	</div>
	
	<div class='faw-explore-teaser-inner'>
		{{> calltoactionbubblebig }}
	</div>
</div>