.imagewithdescription{
   text-align: center;
   margin: 1em;
   margin-top: 1em;
   margin-bottom: 1em;
   
   @include breakpoint(md) {
       margin-top: 4em;
       margin-bottom: 4em;
    }
}

.imagewithdescription-inner{
    position: relative;
    width: 100%;
    display: inline-block;
    

    @include breakpoint(md) {
        width: 683px;
    }
    
    img{
        width: 100%;
        @include breakpoint(md) {
            width: auto;
        }
    }
}

.imagewithdescription-description{
  position: relative;
    right: 0;
    top: auto;
    bottom: 0;
    background-color:#fff;
    width: 100%;
    text-align: left;
    padding: 1em;
    
    @include breakpoint(md) {
      position: absolute;
        width: 150px;
        top: 7.3em;
        bottom: auto;
        padding: 1.6em 0.35em 1.6em 0.55em;
    }
}

.rgba .imagewithdescription-description {
  background-color:rgba(255,255,255,0.9);
}


.imagewithdescription-description-head{
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    display: block!important; //due to the  faw-article p targeting
    @include breakpoint(md) {
      text-align: left;
    }
}

.imagewithdescription-description-copy{
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    display: block!important;  //due to the  faw-article p targeting
    @include breakpoint(md) {
      text-align: left;
    }
}