.listing-title {
  font-family: "GearedSlab-Thin", Helvetica, Arial, sans-serif;
  font-size: pxtoem(18px);
  text-transform: uppercase;
}
.listing-location {
  font-family: "ProximaNova Regular", Helvetica, Arial, sans-serif;
  font-size: pxtoem(14px);
}